@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "lato", sans-serif;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none !important;
  padding: 0;
}

.pre-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #d000ff;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pre-loader .loader {
  width: 100px;
  height: 100px;
  border: 5px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  color: white;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.page-title {
  width: 100%;
  height: 120px;
  padding: 0 20px;
  background: -webkit-gradient(linear, left top, right top, from(#d000ff), to(#9d51ad));
  background: linear-gradient(to right, #d000ff, #9d51ad);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-title h2.content {
  font-size: 23px;
  font-weight: 400;
  text-transform: capitalize;
  color: #e0e0e0;
}

.page-title p {
  color: #e0e0e0;
}

.home {
  background-color: #d000ff !important;
}

.home-text {
  color: white !important;
}

.home-text:hover {
  color: #333 !important;
}

.landing {
  height: 92vh;
  position: relative;
  background-color: #d000ff;
  overflow: hidden;
}

.landing .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.landing .wave img {
  position: absolute;
  bottom: 0;
  color: white;
}

.landing .container {
  width: 85%;
  height: 60vh;
  margin: 2% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
}

.landing .container .landing-content {
  width: 50%;
}

.landing .container .landing-content h2 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
  line-height: 1;
  text-transform: capitalize;
  font-weight: 500;
}

.landing .container .landing-content h5 {
  padding: 5px 0px;
  color: #c7c7c7;
  font-size: 16px;
}

.landing .container .landing-content a.btn {
  display: inline-block;
  margin: 20px 0 0;
  padding: 15px 55px;
  background-color: #fff;
  color: #333;
  border: 2px solid #fff;
  border-radius: 3px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  z-index: 999;
  font-size: 18px;
}

.landing .container .landing-content a.btn:hover {
  background: none;
  border: 2px solid #fff;
  color: white;
}

.landing .container .landing-img {
  width: 45%;
  height: 80%;
}

.landing .container .landing-img img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 972px) {
  .landing {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing .container {
    width: 100%;
    display: block;
  }
  .landing .landing-img {
    display: none;
  }
  .landing .landing-content {
    width: 90% !important;
    margin: 16% auto;
    text-align: center;
  }
}

@media screen and (max-width: 475px) {
  .landing {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing .container {
    width: 100%;
    display: block;
    height: 80vh;
  }
  .landing .landing-img {
    display: none;
  }
  .landing .landing-content {
    width: 90% !important;
    margin: 25% auto;
    text-align: center;
  }
}

.pricing {
  width: 100%;
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.pricing-table {
  width: 30%;
  border: 1px solid #eaeaea;
  position: relative;
  text-align: center;
}

.pricing-table:hover {
  -webkit-box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.21);
          box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.21);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.pricing-table .pricing-header {
  padding: 15px 0px 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.pricing-table .pricing-header .header-text {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  color: #424242;
  text-align: center;
}

.pricing-table .pricing-value {
  width: 120px;
  height: 120px;
  border-radius: 40px;
  position: absolute;
  top: 100px;
  left: 150px;
  right: 0;
  background-color: #d933ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-42deg);
          transform: rotate(-42deg);
}

.pricing-table .pricing-value .value {
  text-align: center;
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
  color: white;
  line-height: 0.9;
}

.pricing-table .pricing-value .value h2 {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  line-height: .9;
}

.pricing-table .pricing-value .value p {
  text-align: center;
}

.pricing-table .pricing-value .content {
  position: relative;
}

.pricing-table .content {
  margin: 100px 0 0;
  list-style: none;
  text-align: center;
}

.pricing-table .content li {
  font-size: 20px;
  line-height: 40px;
  font-weight: 300;
}

.pricing-table .content li i {
  color: #d933ff;
  padding: 0 5px;
}

.pricing-table a {
  position: relative;
  display: inline-block;
  background-color: #d000ff;
  margin: 20px auto;
  letter-spacing: 2px;
  background: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  color: #3a3a3a;
  -webkit-box-shadow: 0 7px 10px #e6e6e6;
          box-shadow: 0 7px 10px #e6e6e6;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.pricing-table a:hover {
  background-color: #d000ff;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  color: #fff;
}

.pricing-table a i {
  padding: 0 5px;
}

@media screen and (max-width: 992px) {
  .pricing {
    width: 100%;
    display: block;
  }
  .pricing-table {
    width: 90%;
    margin: 20px auto 15px;
    border: 1px solid #c8c8c8;
  }
  .pricing-table .pricing-value {
    position: absolute;
    left: 0;
    margin: 0 auto;
  }
}

.navigation {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .container a.logo {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.navigation .container a.logo span {
  color: #d000ff;
}

.navigation .container ul#links {
  list-style: none;
  padding: 20px 0;
}

.navigation .container ul#links li {
  display: inline-block;
}

.navigation .container ul#links li a {
  padding: 8px 25px;
  color: #333;
}

.navigation .container ul#links li a#closebtn {
  display: none;
}

.navigation .container ul#links li a:hover {
  color: #fff;
  background-color: #d000ff;
  border-radius: 4px;
}

.navigation .container ul#links li a.signup {
  background-color: #d000ff;
  border: 2px solid #d000ff;
  border-radius: 50px;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.navigation .container ul#links li a.login {
  border: 2px solid #d000ff;
  border-radius: 50px;
}

.navigation #menu {
  display: none;
}

@media screen and (max-width: 475px) {
  .navigation {
    width: 100%;
    padding: 10px 15px;
  }
  .navigation .container #links {
    position: fixed;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #d000ff;
    overflow-x: hidden;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
  }
  .navigation .container #links li {
    position: relative;
    display: block !important;
    text-align: center;
    margin: 40px 0;
  }
  .navigation .container #links li a {
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    color: #333;
  }
  .navigation .container #links li a#closebtn {
    display: block !important;
    text-align: right;
    padding: 0 50px 0 0;
    font-size: 40px;
  }
  .navigation .container #links li a:hover {
    color: #fff !important;
    background: none;
  }
  .navigation .container #links li a.signup {
    background-color: none;
    display: block;
    color: #333 !important;
  }
  .navigation img#menu {
    display: inline-block;
    position: relative;
    right: 25px;
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 600px) {
  .navigation {
    width: 100%;
    padding: 10px 15px;
  }
  .navigation .container #links {
    position: fixed;
    height: 100vh;
    width: 0;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #d000ff;
    overflow-x: hidden;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
  }
  .navigation .container #links li {
    position: relative;
    display: block !important;
    text-align: center;
    margin: 40px 0;
  }
  .navigation .container #links li a {
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    color: #333;
  }
  .navigation .container #links li a#closebtn {
    display: block !important;
    text-align: right;
    padding: 0 50px 0 0;
    font-size: 40px;
  }
  .navigation .container #links li a:hover {
    color: #fff !important;
    background: none;
  }
  .navigation .container #links li a.signup {
    background-color: none;
    display: block;
    color: #333 !important;
  }
  .navigation img#menu {
    display: inline-block;
    position: relative;
    right: 25px;
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 800px) {
  .navigation {
    width: 100%;
    padding: 10px 15px;
  }
  .navigation .container #links {
    position: fixed;
    height: 100vh;
    width: 0;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #d000ff;
    overflow-x: hidden;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
  }
  .navigation .container #links li {
    position: relative;
    display: block !important;
    text-align: center;
    margin: 40px 0;
  }
  .navigation .container #links li a {
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    color: #333;
  }
  .navigation .container #links li a#closebtn {
    display: block !important;
    text-align: right;
    padding: 0 50px 0 0;
    font-size: 40px;
  }
  .navigation .container #links li a:hover {
    color: #fff !important;
    background: none;
  }
  .navigation .container #links li a.signup {
    background-color: none;
    display: block;
    color: #333 !important;
  }
  .navigation img#menu {
    display: inline-block;
    position: relative;
    right: 25px;
    width: 30px;
    height: 30px;
  }
}

.payment {
  width: 50%;
  -webkit-box-shadow: 1px 5px 8px #e7e7e7;
          box-shadow: 1px 5px 8px #e7e7e7;
  margin: 5% auto;
  padding: 20px;
}

.payment h2 {
  font-size: 25px;
  text-align: center;
  color: #333;
  padding: 10px 0 0;
}

.payment .payment-details {
  width: 80%;
  margin: 30px auto;
}

.payment .payment-details .input-box {
  width: 100%;
  position: relative;
}

.payment .payment-details .input-box input, .payment .payment-details .input-box select {
  display: block;
  height: 40px;
  width: 100%;
  position: relative;
  margin: 0 0 15px;
  background: none;
  outline: none;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding: 0 0 0 10px;
}

.payment .payment-details .input-box select {
  color: #b6b6b6;
}

.payment .payment-details .input-box input:focus {
  border: 1px solid #426ee7;
}

.payment .payment-details .input-box label {
  position: absolute;
  color: #aaaaaa;
  left: 11px;
  top: 10px;
  z-index: -1;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.payment .payment-details .input-box input:focus ~ label, .payment .payment-details .input-box input:valid ~ label {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
  background-color: white;
  color: #426ee7;
  z-index: 1;
  padding: 0 3px;
  font-size: 12px;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.payment .payment-details button {
  width: 100%;
  padding: 12px 0;
  border: none;
  outline: none;
  background-color: #d000ff;
  color: #fff;
  margin: 5px 0 40px;
  border-radius: 3px;
  font-size: 17px;
}

.payment-footer {
  width: 50%;
  border-top: 2px solid #aaaaaa;
  margin: 3% auto;
  padding: 10px 0;
}

.payment-footer p {
  color: #aaaaaa;
}

@media screen and (max-width: 972px) {
  .payment {
    width: 90%;
    margin: 7% auto;
  }
  .payment-footer {
    width: 90%;
    margin: 20% auto;
  }
}

.signup-container {
  width: 100%;
  margin: 7% 0 0;
}

.signup-container .container {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.signup-container .container .signup-user {
  border: 1px solid #aaaaaa;
  width: 40%;
  height: 300px;
  text-align: center;
  padding: 25px 15px;
}

.signup-container .container .signup-user h2 {
  padding: 10px 0;
  font-size: 2rem;
  color: #333;
}

.signup-container .container .signup-user p {
  padding: 10px 0;
  color: #999999;
}

.signup-container .container .signup-user a {
  display: inline-block;
  padding: 12px 35px;
  margin: 10px 0 0;
  background: -webkit-gradient(linear, left top, right top, from(#d000ff), to(#773586));
  background: linear-gradient(to right, #d000ff, #773586);
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.signup-container .container .signup-user a i {
  padding: 0 0 0 8px;
}

.signup-container .container .signup-user a:hover {
  -webkit-box-shadow: 0 7px 18px #9c9c9c;
          box-shadow: 0 7px 18px #9c9c9c;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.signup-container .container .signup-seller {
  border: 1px solid #aaaaaa;
  width: 40%;
  height: 300px;
  text-align: center;
  padding: 25px 15px;
}

.signup-container .container .signup-seller h2 {
  padding: 10px 0;
  font-size: 2rem;
  color: #333;
}

.signup-container .container .signup-seller p {
  padding: 10px 0;
  color: #999999;
}

.signup-container .container .signup-seller a {
  display: inline-block;
  padding: 12px 35px;
  margin: 10px 0 0;
  background: -webkit-gradient(linear, left top, right top, from(#d000ff), to(#773586));
  background: linear-gradient(to right, #d000ff, #773586);
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.signup-container .container .signup-seller a i {
  padding: 0 0 0 8px;
}

.signup-container .container .signup-seller a:hover {
  -webkit-box-shadow: 0 7px 18px #9c9c9c;
          box-shadow: 0 7px 18px #9c9c9c;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.signup-container .container .signup-user:hover,
.signup-container .container .signup-seller:hover {
  -webkit-box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.21);
          box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.21);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

@media screen and (max-width: 880px) {
  .signup-container {
    width: 100%;
  }
  .signup-container .container {
    width: 100%;
    display: block;
  }
  .signup-container .container .signup-user {
    margin: 0 auto;
    width: 90%;
  }
  .signup-container .container .signup-seller {
    margin: 30px auto;
    width: 90%;
  }
}

.reg-form {
  width: 50%;
  padding: 20px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 5px 8px #e7e7e7;
          box-shadow: 1px 5px 8px #e7e7e7;
  margin: 5% auto;
}

.reg-form .tab {
  display: none;
  width: 80%;
  margin: 0 auto 30px;
}

.reg-form .tab i {
  position: relative;
  left: 0;
}

.reg-form .tab h2 {
  color: #4b4b4b;
  margin: 20px 0 0;
}

.reg-form .tab p {
  opacity: .6;
}

.reg-form .tab .input-box {
  position: relative;
  margin: 40px 0 0;
}

.reg-form .tab .input-box input {
  width: 100%;
  margin: 0 auto;
  height: 30px;
  background: none;
  border: none;
  border-bottom: 2px solid #aaaaaa;
  padding: 0 0 0 0;
  font-size: 16px;
  font-weight: 500;
}

.reg-form .tab .input-box label {
  position: absolute;
  color: #aaaaaa;
  left: 0;
  z-index: -1;
}

.reg-form .tab .input-box input:focus {
  -webkit-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  border-bottom: 2px solid #d000ff;
}

.reg-form .tab .input-box input:focus ~ label,
.reg-form .tab .input-box input:valid ~ label {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  font-size: 14px;
}

.reg-form .tab .input-box input:not(:focus) ~ label {
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.reg-form .active {
  display: block;
}

.reg-form .finish {
  background-color: #d000ff !important;
}

.reg-form .btn-main {
  width: 80%;
  margin: 0 auto 40px;
}

.reg-form .btn-main button {
  padding: 10px 25px;
  outline: none;
  border: none;
  background-color: #d000ff;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

.reg-form .btn-main button i {
  color: #fff;
  padding: 0 0 0 5px;
}

.reg-form .stepper {
  width: 80%;
  margin: 20px auto;
}

.reg-form .stepper .step {
  width: 70px;
  height: 4px;
  border-radius: 4px;
  background-color: #c5c5c5;
  display: inline-block;
}

@media screen and (max-width: 992px) {
  .reg-form {
    width: 95%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .reg-form .tab {
    width: 100%;
  }
  .reg-form .btn-main {
    width: 100%;
  }
  .reg-form .stepper {
    width: 100%;
  }
}

.user {
  width: 50%;
  margin: 4% auto;
  -webkit-box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.21);
          box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.21);
  border: 1px solid #aaaaaa;
  padding: 40px 40px;
  border-radius: 4px;
  z-index: -1;
}

.user .form {
  width: 100%;
}

.user .form h1 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 40px;
  color: #333;
}

.user .form .input-box {
  position: relative;
  width: 100%;
  margin: 25px 0 0;
}

.user .form .input-box input {
  position: relative;
  display: block;
  width: 100%;
  border: 2px solid #838383;
  height: 40px;
  border-radius: 3px;
  background: none;
  padding-left: 15px;
}

.user .form .input-box span {
  position: absolute;
  left: 15px;
  top: 10px;
  z-index: -1;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.user .form .input-box i {
  position: absolute;
  top: 12px;
  right: 20px;
  color: #f0215f;
  visibility: hidden;
}

.user .form .input-box input:focus {
  border: 2px solid #2151f0;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.user .form .input-box input:focus ~ span, .user .form .input-box input:valid ~ span {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  left: 7px;
  z-index: 999;
  font-size: 12px;
  background-color: white;
  padding: 0 3px;
  color: #2151f0;
}

.user .form .input-box input:not(:focus) ~ span {
  color: #838383;
}

.user .form .input-box small {
  color: #f0215f;
  visibility: hidden;
}

.user .form button {
  display: inline-block;
  margin: 20px 0 0;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  outline: none;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#d000ff), to(#9d51ad));
  background: linear-gradient(to right, #d000ff, #9d51ad);
  color: #fff;
  border-radius: 3px;
  -webkit-transition: -webkit-box-shadow 300ms ease-out;
  transition: -webkit-box-shadow 300ms ease-out;
  transition: box-shadow 300ms ease-out;
  transition: box-shadow 300ms ease-out, -webkit-box-shadow 300ms ease-out;
}

.user .form button:hover {
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.376);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.376);
}

.user .form .bottom-text {
  margin-top: 60px;
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 972px) {
  .user {
    width: 90%;
  }
}
