// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "colors";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    background-color: $bg-color;
}

a{
    text-decoration: none;
}


@import "user/nav";
@import "user/home";
@import "user/details";
@import "user/address";
@import "user/password";
@import "user/orders";
@import "user/pending";
@import "user/saved";
@import "user/cart";
@import "user/reviews";