.address-section {
  width: 65%;
  height: 70%;
  position: relative;
  border-radius: 4px;
  margin: 30px 0 0 26%;
  padding: 30px;
  background-color: $light-color;
  overflow: auto;

  h1 {
    font-size: 1.6rem;
    color: $dark-color;
    font-weight: 500;
    margin: 0 0 30px;
    overflow: auto;
  }
  a.btn {
    position: absolute;
    right: 30px;
    top: 32px;
    font-size: 14px;
    padding: 8px 25px;
    background: linear-gradient(to right,$primary-color, #b866ca);
    color: $light-color;
    border-radius: 3px;
  }
  .main-wrapper {
    clear: both;
    position: relative;
    margin: 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .card {
      width: 48%;
      border: 1px solid #aaaa;
      border-radius: 3px;
      align-self: flex-start;

      &-content {
        position: relative;
        padding: 12px 12px 0;
        p {
          position: relative;
          font-size: 0.85rem;

          &:first-child {
            font-weight: 600;
          }
          &.address {
            padding: 5px 0 0;
          }
        }
        small {
          visibility: hidden;
          padding: 18px 0 10px;
          color: #169216;
          font-weight: 500;

          &.active {
            display: inline-block;
            visibility: visible;
          }
        }
      }
      .card-footer {
        border-top: 1px solid #aaaa;
        padding: 7px 12px;
        a {
          font-size: 14px;
          color: #8d8d8d;

          &.active {
            color: $dark-color;
          }
        }
        .btn {
          float: right;

          a {
            font-size: 18px;
            color: $primary-color;
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
}
