.order-section {
  position: relative;
  width: 65%;
  height: 70%;
  border-radius: 4px;
  margin: 30px 0 0 26%;
  padding: 30px;
  background-color: $light-color;

  h1 {
    font-size: 1.6rem;
    color: $dark-color;
    font-weight: 500;
    margin: 0 0 30px;
  }

  .main-wrapper {
    width: 100%;

    .order-box {
      width: 100%;
      overflow: auto;
      padding: 10px;
      border: 1px solid #aaaa;
      border-radius: 3px;
      margin: 0 0 15px 0;

      .img-box {
        width: 80px;
        height: 80px;
        float: left;
        margin: 5px 10px 0 0;
        border-radius: 3px;

        img {
          display: block;
          margin: 0 auto;
        }
      }
      a {
        float: right;
        margin: 0 15px 0 0;
        color: $primary-color;
      }
      h5 {
        margin: 0 0 15px 10px;
        font-size: 18px;
        font-weight: 400;
        margin: 0 0 0 20px;
        color: $dark-color;
      }
      small {
        color: #8d8d8d;
      }
      p {
        font-size: 14px;
        margin: 20px 0 0 80px;
        text-transform: uppercase;
        color: $primary-color;
        font-weight: 500;
      }
    }
  }
}
