.wrapper {
  width: 70%;
  position: relative;
  margin: 2% 0 0 23%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
//   border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 300ms ease-out .02s;
  
  @media (max-width:768px){
    width: 100%;
    margin: 2% 0 0;
    padding: 20px 0 ;
    display: block;
  }

  &.closer{
      margin-left: 10%;
      
      @media (max-width: 768px){
        margin-left: 0;
      }
  }

  &-1 {
    border: 0.2px solid #ccc;
    border-radius: 4px;
    width: 50%;
    margin: 15px 0 25px 0;
    // padding: 12px 10px;

    @media (max-width: 768px){
      width:90%;
      margin: 0 auto;
    }

    h3 {
      font-size: 1.1rem;
      font-weight: 500;
      color: lighten($color: $dark-color, $amount: 20);
      margin: 0 0 0 0;
      padding: 5px 15px;
    }
    p {
      font-size: 13px;
      color: $dark-color;
      padding: 0px 15px;

      @media (max-width: 414px){
        font-size: 12px;
      }
    }
    ul {
      display: block;
      margin: 40px 0 0 0;
      list-style: none;
      // padding: 12px 10px;

      li {
        padding: 10px 20px 10px 15px;
        border-bottom: 1px solid #ccc;
        color: lighten($color: $dark-color, $amount: 20);
        text-align: left;

        i {
          padding: 0 20px 0 0;
          
          @media (max-width: 768px){
            padding: 0 10px 0 0;
          }
        }
        a {
          float: right;
          color: $primary-color;
          font-size: 1.1rem;
        }
      }
    }
  }
  &-2{
      border: 1px solid #ccc;
      height: 100%;
      position: relative;
      padding: 5px 0;
      border-radius: 4px;
      width: 45%;

      @media (max-width: 768px){
        width:90%;
        margin: 8% auto 0;
      }

      h3 {
        font-size: 1.1rem;
        font-weight: 500;
        color: lighten($color: $dark-color, $amount: 20);
        margin: 0 0 0 0;
        padding: 5px 20px;
      }
      p {
        font-size: 13px;
        color: $dark-color;
        padding: 0px 20px;

        @media (max-width: 414px){
        font-size: 12px;
      }
      }

      ul{
          list-style: none;
          margin: 10px 0 0 0;
          
          li{
              padding: 5px 20px;
              font-size: 14px;
              color: lighten($color: $dark-color, $amount: 20);

              i{
                  padding-right: 5px;
                  font-weight: 200;
                  color: $primary-color;

                  @media (max-width:768px) and (max-width:414px){
                    padding-right: 10px;
                    font-size: 16px;
                  }
              }
          }
      }
      a{
          display: inline-block;
          margin: 10px 0 15px 20px;
          font-size: 14px;
          padding: 8px 20px;
          color: #fff;
          background-color: $primary-color;
          border-radius: 4px;
          transition: all 200ms ease-out;

          &:hover{
              box-shadow: 1px 1px 10px rgba(0,0,0,.3);
          }

          &.reviewbtn{
              margin: 20px 0 10px 20px;
            border: 1px solid $primary-color;
            background: none;
            color: lighten($color: $dark-color, $amount: 20);
          }
      }
    } 
}
